body {
	padding: 30px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #DCF0E6;
}

a {
	color: #00B7FF;
}

.row li{
	list-style-type: none;
}

.whiteboard {
	position: relative;
	top: 3em;
}