<h1 style="left: 0; display: inline-block;">Groop Name</h1>
<h1 style="float: right; display: inline-block; font-size: 60px">4<div style="font-size: 30px; display: inline-block">/5</div></h1>

<div class="panel panel-default" style="width: 70%; margin: 1em 0em">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
    <p>This is a description for the groop. This is a description for the groop.
       This is a description for the groop. This is a description for the groop. 
       This is a description for the groop.
     </p>
  </div>
</div>

<!-- Whiteboard -->
<form class="form-inline" ng-submit="addPost()" style="margin-top:4em">

  <!-- Text Input Post on Whiteboard -->
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Post something to the Whiteboard..." ng-model="content" style="width: 52.5em"></input>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>

<!-- Post on Whiteboard -->
<div ng-repeat="post in posts | orderBy:'-upvotes'" class="whiteboard">
  <div class="whiteboardPost" style="padding: 1em; background-color: lavenderblush; width: 52.5em">
    <span style="font-size:15px;">
      {{post.content}}
    </span>

    <!-- Text Input Comment on Post -->
    <form class="form-inline" ng-submit="addComment()" style="background-color: lavender; margin: 1em; padding: 1em">
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(post)"> {{post.upvotes}} 
      </span>
      <input type="text" class="form-control" placeholder="Add a comment..." ng-model="body" style="width: 90%; margin-left: 1em"></input>
    </form>

    <!-- Comment on Post -->
    <span style="font-size:15px;">
      {{comment.body}}
    </span>

  </div>
</div>