<h1 style="display: inline-block; margin-top: 1em; margin-left: 1em">{{groop.group_name}}</h1>
<div style="float: right; display: inline-block">
  <h1 style="float: right; display: inline-block; font-size: 60px">{{groop.num_members}}<div style="font-size: 30px; display: inline-block; margin-right: 3em"> / {{groop.max_members}}</div></h1>
</div>

<div class="col-md-12">
  <div class="col-md-4" style="margin-top: 3em">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        {{groop.description}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Location</h3>
      </div>
      <div class="panel-body">
        {{groop.location}}
      </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="joinGroop(groop.id)">Join Groop</button>
    <button type="button" class="btn btn-default" ng-click="leaveGroop(groop.id)">Leave Groop</button>

  </div>

  <!-- Whiteboard -->
  <div class="col-md-8">
    <form class="form-inline" ng-submit="addPost()" style="margin-top:3em">
      <!-- Text Input Post on Whiteboard -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Post something to the Whiteboard..." ng-model="message" style="width: 42em"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
</div>

<div style="background-color: white; width: 40em; height: 40em; float: right; margin-top: 10em">
<!-- Post on Whiteboard -->
<div ng-repeat="post in posts | orderBy:'-upvotes'" class="whiteboard">
  <div class="whiteboardPost" style="padding: 1em; background-color: white; width: 40em" data-ng-init="getComments(post.id);">
    <span ng-click="deletePost(post.id)" class="glyphicon glyphicon-remove" aria-hidden="true" style="float: right"></span>
    <span style="font-size:15px">
      {{post.message}}
    </span>

    <!-- Text Input Comment on Post -->
    <form class="form-inline" ng-submit="addComment(post.id)" style="background-color: lavender; margin: 1em; padding: 1em">
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="likePost(post.id)"> {{post.like_count}} 
      </span>
      <input type="text" class="form-control" placeholder="Add a comment..." ng-model="newComment" style="width: 80%; margin-left: 1em"></input>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <!-- Comments on Post -->
      <div ng-repeat="comment in comments">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="likeComment(comment.id)" style="margin-left: 3em; margin-right: 1em"> {{comment.like_count}} 
        </span>
        <span>
          {{comment.message}}
        </span>
      </div>

  </div>
</div>
</div>

<!-- Groops Button Dropdown
<div class="btn-group">
  <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown">
    Groops <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">All Groops</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">My Groops</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/">Log Out</a></li>
  </ul>
</div> -->