<header>
	<h1 style="text-align: center; margin-bottom: 1em">Grooper</h1>
</header>

<div class="row">

	<!-- Signup / Login -->
	<div class="col-md-2" style="background-color:lavender; margin-right: 1em; height: 55em">
		<button type="button" class="btn btn-primary btn-lg" style="margin-left: 2.5em; margin-bottom: 1em" data-toggle="modal" data-target="#signupModal">Sign Up</button>
		<button type="button" class="btn btn-danger btn-lg" style="margin-left: 2.75em" data-toggle="modal" data-target="#loginModal">Log In</button>
	</div>

	<!-- Groop List -->
    <div class="col-md-6" style="background-color:lavender; margin-right: 1em; height: 55em">
		<div class="list-group" ng-repeat="groop in allGroops | array | filter:searchText">
	    	<a href="#groop" class="list-group-item">
	      		<h4 class="list-group-item-heading">{{groop.name}}<div style="float: right">{{groop.min_members}} / {{groop.max_members}}</div></h4>
	      		<p class="list-group-item-text">{{groop.description}}</p>
	    	</a>
	  	</div>
	</div>


	<div class="col-md-3" style="background-color:lavender; height: 55em">

		<!-- Search Bar -->
	    <div class="input-group col-md-12" style=" margin: 0em 0em 1em 0em">
	        <input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText"/>
	        <span class="input-group-btn">
	            <button class="btn btn-danger" type="button">
	                <span class=" glyphicon glyphicon-search"></span>
	            </button>
	        </span>
	    </div>

	    <!-- Categories -->
		<div class="list-group" style="margin-top: 1em">
	    	<a href="#" class="list-group-item">
	      		<h3 class="list-group-item-heading">Sports</h3>
	    	</a>
	    	<a href="#" class="list-group-item">
	      		<h3 class="list-group-item-heading">Entertainment</h3>
	    	</a>
	    	<a href="#" class="list-group-item">
	      		<h3 class="list-group-item-heading">Social</h3>
	    	</a>
	    	<a href="#" class="list-group-item">
	      		<h3 class="list-group-item-heading">Transportation</h3>
	    	</a>
	    	<a href="#" class="list-group-item">
	      		<h3 class="list-group-item-heading">Housing</h3>
	    	</a>
	    	<a href="#" class="list-group-item">
	      		<h3 class="list-group-item-heading">Other</h3>
	    	</a>
	  	</div>
	</div>

</div>

<!-- Signup Modal -->
<div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog modal-lg">
	    <!-- Signup Modal content-->
	    <div class="modal-content">

	        <div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<h4 class="modal-title">Welcome to Grooper</h4>
	        </div>

	        <div class="modal-body">
			    <div class="form-group">
			    	<div class="form-inline">
			    		<div class="input-group">
					    	<input type="text" placeholder="First Name" class="form-control" ng-model="first_name" required>
					    </div>
			    		<div class="input-group">
					    	<input type="text" placeholder="Last Name" class="form-control" ng-model="last_name" required>
					    </div>
					</div>
			      	<input style="width: 24.3em" type="email" placeholder="Email address" class="form-control" ng-model="email" required>
			      	<input style="width: 24.3em" type="password" placeholder="Password" class="form-control" ng-model="password" required>
			      	<div style="padding-top: 1em; padding-left: 6em">
				      	<label class="radio-inline" style="padding-right: 1em"><input type="radio" name="optradio">Male</label>
						<label class="radio-inline"><input type="radio" name="optradio">Female</label>
					</div>
				</div>
	        </div>

	        <div class="modal-footer">
	        	<button type="submit" class="btn btn-danger" ng-click="signUp()">Sign Up</button>
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        </div>
	    </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
	    <!-- Login Modal content-->
	    <div class="modal-content">
	        <div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<h4 class="modal-title">Log In</h4>
	        </div>
	        <div class="modal-body">
	        	<div class="input-group input-group-lg">
			  		<input type="text" class="form-control" placeholder="Email address" ng-model="email">
				</div>
	        	<div class="input-group input-group-lg">
			  		<input type="password" class="form-control" placeholder="Password" ng-model="password">
				</div>
	        </div>
	        <div class="modal-footer">
	        	<button type="submit" class="btn btn-danger" ng-click="logIn()">Log In</button>
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        </div>
	    </div>
    </div>
</div>