<div class="row">
	<div class="col-md-8">
		<input type="text" style="margin-bottom: 1em" class="search-query form-control" placeholder="Search Groops" ng-model="searchText"/>
		<!-- Group List -->
		<div class="list-group" ng-repeat="group in allGroups | array | filter:searchText">
			<a class="list-group-item" ui-sref="group({id: group.id, myParam: group.whiteboard})">
		  		<h4 class="list-group-item-heading">{{group.group_name}}
		  			<div style="float: right">
		  				{{group.num_members}} / {{group.max_members}}
		  			</div>
		  		</h4>
		  		<p class="list-group-item-text">{{group.description}}</p>
			</a>
		</div>
	</div>
</div>